.switch {
  display: flex;
  position: relative;
  width: 56px;
  height: 28px;
  align-items: center;
  cursor: pointer;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  transition: left 0.5s ease-in-out;
}

.switch__slider-F {
  left: 26px;
}

.switch__slider-C {
  left: 2px;
}

.switch__temp-F {
  position: absolute;
  text-align: center;
  right: 10px;
}
.switch__temp-C {
  position: absolute;
  text-align: center;
  left: 10px;
}

p {
  transition: color 1s ease-in-out;
}

.switch__active {
  color: white;
}

.switch__inactive {
  color: black;
}
