.switch {
  display: flex;
  position: relative;
  width: 56px;
  height: 28px;
  align-items: center;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
}

.switch__slider-C {
}

.switch__temp-F {
  position: absolute;
  text-align: center;
  right: 10px;
}

.switch__temp-C {
  position: absolute;
  text-align: center;
  left: 10px;
}

.switch__active {
  color: white;
}
