@font-face {
  src: url("../assets/CabinetGrotesk-Medium.woff") format("woff");
  font-family: "cabinetgrotesk";
}

.page {
  background-color: #f3f3f3;
  position: fixed;
  width: 100%;
  height: 100%;
}

.page__content {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
}
