.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0px;
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 0;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-container {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0px;
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.header__login-btn {
  background-image: url("src/assets/infoButton.svg");
  background-size: cover;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  display: none;
}

.header__close {
  display: none;
}

@media screen and (max-width: 375px) {
  .header__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .header__login-btn {
    display: block;
    margin-bottom: 33px;
  }

  .header__user-container {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  .header__date-and-location {
    display: block;
  }

  .header__close {
    background-image: url("../../assets/Union.svg");
    background-size: cover;
    background-color: transparent;
    width: 21px;
    height: 21px;
    padding: 0;
    border: 0;
    display: block;
    align-self: end;
    margin: 11px 11px;
  }

  .header__user {
    margin-bottom: 24px;
  }

  .header__add-clothes-btn {
    background-color: white;
    margin: 0 0 60px 0;
    align-self: center;
  }

  .hidden {
    display: none;
  }
}
