.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__close {
  background-image: url("../../assets/closeButton.svg");
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  border: 0;
}

.modal__content_type_image {
  padding: 0;
  overflow: hidden;
}

.modal__footer {
  padding: 20px 0 32px 32px;
}

.modal__image {
  object-fit: cover;
}

.modal__caption {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
