.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 323px;
  height: 328px;
  border: 1px solid #0000004d;
  border-radius: 10px;
  overflow: hidden;
}

.card__feature{

  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}

.card__name {
  background-color: white;
  font-family: cabinetgrotesk, sans-serif;
  color: #00000099;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 2px 12px;
  border-radius: 4px;
  margin: 0;
}

.card__item-image {
  width: 100%;
  cursor: pointer;
}

.card__btn-like{
  width: 18px;
  height: 15px;
  border: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .card {
    width: 156px;
    height: 156px;
  }
}
