.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  background-image: url("../../assets/Union.svg");
  background-color: transparent;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  border: 0;
}

.modal__confirmation-content {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 670px;
  height: 280px;
}

.modal__message {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
  width: 367px;
  text-align: center;
}

.modal__confirm {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 0;
  background-color: transparent;
  color: #ff4d00;
  margin-bottom: 24px;
  cursor: pointer;
}

.modal__cancel {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .modal__message {
    width: 80%;
  }
  .modal__confirmation-content {
    max-width: 350px;
  }
}
