.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0px;
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn, .header__signup-btn, .header_login-modal-btn {
  margin: 0 20px 0 auto;
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.header__non-user-options, .header__user-options{
  display: flex ;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-container {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__username {
  margin: 0px;
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.header__login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__login-btn {
  background-image: url("../../assets/infoButton.svg");
  background-size: cover;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  display: none;
}

.header__close {
  display: none;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__avatar{
  width: 40px;
  height: 40px;
  background-color: gray;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid black;
}

@media screen and (max-width: 375px) {
  .header {
    padding: 18px 0 0;
  }
  .header__menu {
    display: flex;
    align-items: normal;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .header__login {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header__login-btn {
    display: block;
    margin-left: auto;
  }

  .header__user-container {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    gap: 0;
    padding-bottom: 40px;
    border-radius: 8px;
    position: absolute;
    top: 18px;
    z-index: 1;
    width: 328px;
  }

  .header__date-and-location {
    display: block;
    font-family: cabinetgrotesk, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .header__close {
    background-image: url("../../assets/Union.svg");
    background-size: cover;
    background-color: transparent;
    width: 21px;
    height: 21px;
    padding: 0;
    border: 0;
    display: block;
    align-self: end;
    margin: 11px 11px 32px;
  }

  .header__logo {
    margin-right: 12px;
  }

  .header__user {
    margin-bottom: 24px;
  }

  .header__add-clothes-btn {
    background-color: white;
    margin: 0 0 24px 0;
    align-self: center;
  }

  .hidden {
    display: none;
  }
}
