.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__image-close {
  background-image: url("../../assets/closeButton.svg");
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
}

.modal__content_type_image {
  padding: 0 !important;
  overflow: hidden;
}

.modal__footer {
  padding: 20px 32px 32px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__image {
  object-fit: fill;
  width: 498px;
  height: 498px;
}

.modal__delete-clothes-btn {
  border: 0;
  background-color: transparent;
  color: #ff4d00;
  font-family: cabinetgroteskbold, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.modal__caption {
  font-family: cabinetgroteskbold, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px 0;
}

.modal__weather {
  font-family: cabinetgroteskbold, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 375px) {
  .modal__content_type_image {
    margin: 0 16px 0 16px;
    overflow: hidden;
  }
  .modal__image {
    height: 343px;
  }
  .modal__footer {
    padding: 20px 32px 32px 20px;
  }
  .modal__caption {
    margin: 0 auto 12px 0;
  }
  .modal__weather {
    margin: 0;
  }
}
