.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 229px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  background-color: gray;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid black;
}

.sidebar__user{
  display: flex;
  flex-direction: row;
  gap:20px;
}

.sidebar__change-profile {
  
  color: black;
  text-align: left;  
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.sidebar__profile_options {
  display: flex;
  flex-direction: column;
  gap:8px
}

.sidebar__username {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.sidebar__logout {

  color: black;

  text-align: left; 
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 375px) {
  .sidebar {
    width: 326px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #00000099;
    border-bottom: 1px solid #00000099;
  }

  .sidebar__username {
    margin: 0 0 12px 0;
    
  }

  .sidebar__change-profile {
    display: block;
    border: 0;
    padding: 0;
    margin: 0 0 8px 0;
    
  }

  .sidebar__logout {
    display: block;
    border: 0;
    text-align: left;
    padding: 0;
  }
}
