.clothes-section__header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.clothes-section__title {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.clothes-section__add-clothes-btn {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  border: 0;
  cursor: pointer;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  border-radius: 1px;
}

@media screen and (max-width: 375px) {
  .clothes-section__header {
    justify-content: space-between;
  }

  .clothes-section__add-clothes-btn {
    color: #00000099;
  }

  .clothes-section__items {
    gap: 12px;
  }
}
