.footer {
  display: flex;
  width: 100%;
}

.footer__developer {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: auto;
}

.footer__year {
  font-family: cabinetgrotesk, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
}
